.hi{
   height: 100px;
   width: 100px;
}
#div2{
    
    margin: 0 auto;
    width: 60%;
    text-align: center;
    height: 60px;
    background-color: rgba(33, 33, 33, 0.907);
    align-self: center;
    border: 7px solid white;
    padding-top: 5px;
    border-radius: 50;
    
}